.llogo{
  width:200px;
  margin:0 auto;
  /*background-color: red;*/
}


.logo{
  display: inline-block;
  width:45px;
  position: absolute;
  left:50%;
  margin-left:-40px;
  margin-top:5px;
  /*background-color: red;*/

}




.menuList{
  font-weight: bolder;
  letter-spacing: 2px;
}


.ad-social{
  position: absolute;
  bottom:50px;
  opacity: .7;
}



.about{
  position: relative;
  top:-6px;
  z-index: 100;
}

.half{
  position: absolute;
  top:-55px;
  left:0;
  width:50%;
  bottom:0;
  height:100vh;
  /*background: red;*/
  bottom:0;

}

.half.detail{
  right:0;
  left:50%;
}

.ad-center{
  width:80%;
  min-width: 300px;
  max-width: 600px;
  margin:50px auto;
}

.contact{
  position: absolute;
  bottom:0;
  width:320px;
}
ad-header{
  z-index: 500;
}

.banner{
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
}


.ad-user-dashboard{
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;


  height:200px;
  position: relative;
}

.ad-user-dashboard::before{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right: 0;
content:'';
background-color: rgba(0,0,0,.6);
/*z-index: 5;*/
}

.ad-user-dashboard .ad-btn{
  position: absolute;
  bottom:16px;
  right:16px;
}

.ad-user-dashboard .ad-user{
  position: relative;
  /*z-index: 100;*/
}
