html, body {
  /*font-size: 17px;*/
}

.ad-nav {
  /*height:58px;*/
  /*font-size: 16px;*/
}

.ad-nav .ad-logo {
  background-color: transparent;
  transform: scale(.8);
}

.banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.intro {
  position: relative;
}

.intro::before {
  position: absolute;
  top: -8px;
  left: 0;
  right: 0;
  height: 8px;
  background-color: #28d0e8;
  display: block;
  content: ' ';
  opacity: .4;
}
